@using WebApplication2.ViewModels
@model CreateEmployeeViewModel
    
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection
{
    CreateEmployee:D
}


@section HeaderSection
{
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Employee.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Validation.js")"></script>
    <meta name="viewport" content="width=device-width"/>
}
@section ContentBody
{
    <form action="/Employee/SaveEmployee" method="get">
        <table>
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input type="text" id="TxtFName" name="FirstName" value="@Model.FirstName"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    @Html.ValidationMessage("FirstName")
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>
                <td>
                    <input type="text" id="TxtLName" name="LastName" value="@Model.LastName"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    @Html.ValidationMessage("LastName")
                </td>
            </tr>

            <tr>
                <td>
                    Salary:
                </td>
                <td>
                    <input type="text" id="TxtSalary" name="Salary" value="@Model.Salary"/>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="right">
                    @Html.ValidationMessage("Salary")
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" name="BtnSubmit" value="Save Employee" onclick="return IsValid();"/>
                    <input type="submit" name="BtnSubmit" value="Cancel"/>
                    <input type="button" name="BtnReset" value="Reset" onclick="ResetForm();"/>
                </td>
            </tr>
        </table>
    </form>
}

